<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stanislavcavajda.memoryblitz">

    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpeedGameSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EndlessGameSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProgressGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClassicGameActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".NotificationReceiver" />

        <activity android:name=".SettingsActivity"></activity>
    </application>

</manifest>